.calendar_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.events_wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.month {
  width: 33%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ff4e6b29;
  border-top: 1px solid #ff4e6b29;
  border-right: 1px solid #ff4e6b29;
}
.month:nth-child(3) {
  border-right: none;
}
.month:last-child {
  border-right: none;
}

.days_of_week {
  display: flex;
  justify-content: space-between;
}

.day_week {
  width: 14%;
  text-align: center;
  color: #797979;
}

.days {
  display: flex;
  flex-wrap: wrap;
}
.prev {
  color: #797979;
}

.day {
  width: 14%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.day.indicators {
  padding-bottom: 6px;
}

.month_name {
  padding: 20px 0;
  font-size: 32px;
  text-align: left;
}

.calendar_title {
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
}

.event {
  border-radius: 16px;
  padding: 4px 16px;
}

.checked.event {
  color: black;
}

.meeting {
  color: #ff4e6b;
  background: #ff4e6b29;
}

.question-answer {
  color: #00cc66;
  background: #00cc6629;
}

.conference {
  color: #ffbb33;
  background: #ffbb3329;
}

.webinar {
  color: #4db4ff;
  background: #4db4ff29;
}

.checked.meeting {
  background: #ff4e6b;
}

.checked.question-answer {
  background: #00cc66;
}

.checked.conference {
  background: #ffbb33;
}

.checked.webinar {
  background: #4db4ff;
}

.day-indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.day-indicator.meeting {
  background: #FF4E6B;
}

.day-indicator.question-answer {
  background: #00CC66;
}

.day-indicator.conference {
  background: #ffbb33;
}

.day-indicator.webinar {
  background: #4db4ff;
}

.day-indicators {
  display: flex;
  gap: 2px;
  height: 6px;
}